Q1. Create one variable containing following type of data:

In [2]:
List = ["Murslin"]

In [3]:
Float = 10.30

In [4]:
Tuple = ("Murslin")

In [5]:
string = "Murslin"

Q2. Given are some following variables containing data:

In [7]:
var1 = " "
type(var1)

str

In [8]:
var2 = "[ DS , ML , Python]"
type(var2)

str

In [9]:
var3 = [ "DS" , "ML" , "Python" ]
type(var3)

list

In [10]:
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:

In [12]:
# - (/) is a division operator

a = 10
b = a/2
b

5.0

In [13]:
# - (%) is a modulus operator
c = 10
d = c%2
d

0

In [14]:
# - (//) is a floor operator
e = 10
f = e//2
f

5

In [15]:
# - (**) is a exponential operator
g = 10
h = 10**2
h

100

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [17]:
Data_Lists = [1,2,3,4,5, 4j ,"MURSLIN" , 12.2 , True , False]

for i in Data_Lists :
    print(i ,"Data Type is = ", type(i))

1 Data Type is =  <class 'int'>
2 Data Type is =  <class 'int'>
3 Data Type is =  <class 'int'>
4 Data Type is =  <class 'int'>
5 Data Type is =  <class 'int'>
4j Data Type is =  <class 'complex'>
MURSLIN Data Type is =  <class 'str'>
12.2 Data Type is =  <class 'float'>
True Data Type is =  <class 'bool'>
False Data Type is =  <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [20]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

count = 0

while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"{A} is divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

Enter number A:  10
Enter number B:  2

5.0 is divisible by 2 and can be divided 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [22]:
Number_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in Number_list :
    if i % 3 == 0:
        print("i is divisible by 3")
    else :
        print("i is not divisible by 3")

i is not divisible by 3
i is not divisible by 3
i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is divisible by 3
i is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [24]:
#Mutable - in this we can remove and replace the data with the existing data.

Lists = [1,2,3,4]

Lists[1] = "sahil"

Lists

[1, 'sahil', 3, 4]

In [25]:
#Immutable = in this data type we can not change the existing data with the new data 

Sahil = "I love games"

Sahil[1] = "hate"

Sahil

TypeError: 'str' object does not support item assignment

In [1]:
x = 5

y = 3

x = y

y = x + 2

print(x, y)

3 5

In [2]:
a = 10

b = 5

c = a // b

d = a % b

print(c, d)

2 0

In [3]:
x = 5

y = 10

if x > y:

    print("x is greater")

else:

    print("y is greater")

y is greater

In [4]:
count = 0

while count < 5:

    print(count)

    count += 1

0
1
2
3
4

In [5]:
my_list = [1, 2, 3]

new_list = my_list

new_list.append(4)

print(my_list)

[1, 2, 3, 4]