Q1. List any five functions of the pandas library with execution.

In [1]:
import pandas as pd

In [3]:
# 1. for reading the file 

df = pd.read_csv("services.csv")

In [4]:
# 2. using Describe for statistical analysis

df.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

In [5]:
# 3. checking the data typre of column

df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [6]:
# 4. for checking the unique categorical data in column

pd.Categorical(df["languages"])

[NaN, NaN, NaN, NaN, NaN, ..., NaN, NaN, NaN, 'Spanish', NaN]
Length: 23
Categories (1, object): ['Spanish']

In [7]:
# 5. for checking data from any particular location

df.iloc[0:5, [2,3,4]]

   program_id accepted_payments alternate_name
0         NaN               NaN            NaN
1         NaN               NaN            NaN
2         NaN               NaN            NaN
3         NaN               NaN            NaN
4         NaN               NaN            NaN

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [8]:
# Create a DataFrame
data = {'A': [10, 20, 30],
        'B': [40, 50, 60],
        'C': [70, 80, 90]}
df = pd.DataFrame(data)

# Re-index the DataFrame
new_index = pd.RangeIndex(start=1, step=2, stop=len(df)*2)
df.index = new_index

print(df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [14]:
# create a dataframe
data = {"values" : [10, 20, 35, 40, 50]}
df = pd.DataFrame(data)

# calculate the sum of first threee value in values column

value = df["values"]
sum_of_3_value = sum(value[:3])

print("the sum of the first three values, which is " ,sum_of_3_value)

the sum of the first three values, which is  65

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [21]:
data = {"Text" : ["Sahil is god boy" ,  "DataScience is my love" , "Murslin is honest"]}

df = pd.DataFrame(data)


df["Word_count"] = df["Text"].str.split().apply(len)

df

                     Text  Word_count
0        Sahil is god boy           4
1  DataScience is my love           4
2       Murslin is honest           3

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [25]:
data = {
    
    "Serial No." : [1,2,3,4,5],
    "Name" : ["sahil", "murslin", "bhuvan" ,"vicky", "rahul"],
    "id_no" : [10,20,30,40,50]

}

df = pd.DataFrame(data)

In [29]:
# when we use the size function it calculates all the data  

df.size

15

In [30]:
# when we use the shape function it calculates all the raws and column

df.shape

(5, 3)

Q6. Which function of pandas do we use to read an excel file?

In [33]:
# for reading an excel file we use read_excel function

df = pd.read_excel("LUSID Excel - Setting up your market data.xlsx")
df.head(2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Datetimes in LUSID,NaN,NaN,NaN,NaN,NaN,NaN

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [35]:
data = {
    
    "Email" : ["username@domain.com", "john.doe@example.com" , "don.don@example.com", "Bhuvan.singh@example.com"]

}

df = pd.DataFrame(data)

df["Username"] = df["Email"].str.split("@").str[0]

df

                      Email      Username
0       username@domain.com      username
1      john.doe@example.com      john.doe
2       don.don@example.com       don.don
3  Bhuvan.singh@example.com  Bhuvan.singh

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [36]:
# Create a DataFrame
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

# Select rows where 'A' > 5 and 'B' < 10
selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]

# Print the selected rows
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [39]:
# Create a DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Calculate statistics
mean_value = df['Values'].mean()
median_value = df['Values'].median()
std_value = df['Values'].std()

# Print the statistics
print("Mean:", mean_value)
print("Median:", median_value)
print("Standard Deviation:", std_value)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [40]:
import pandas as pd

# Create a DataFrame
data = {'Date': ['2023-06-25', '2023-06-26', '2023-06-27', '2023-06-28', '2023-06-29', '2023-06-30', '2023-07-01'],
        'Sales': [100, 120, 80, 90, 110, 150, 140]}
df = pd.DataFrame(data)

# Calculate the moving average
window_size = 7
df['MovingAverage'] = df['Sales'].rolling(window=window_size, min_periods=1).mean()

# Print the DataFrame
print(df)

         Date  Sales  MovingAverage
0  2023-06-25    100     100.000000
1  2023-06-26    120     110.000000
2  2023-06-27     80     100.000000
3  2023-06-28     90      97.500000
4  2023-06-29    110     100.000000
5  2023-06-30    150     108.333333
6  2023-07-01    140     112.857143

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [41]:
# Create a DataFrame
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

# Convert 'Date' column to datetime type
df['Date'] = pd.to_datetime(df['Date'])

# Extract weekday name and assign to 'Weekday' column
df['Weekday'] = df['Date'].dt.day_name()

# Print the DataFrame
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [42]:
# Create a DataFrame
data = {'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-10']}
df = pd.DataFrame(data)

# Convert 'Date' column to datetime type
df['Date'] = pd.to_datetime(df['Date'])

# Select rows where the date is between '2023-01-01' and '2023-01-31'
selected_rows = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]

# Print the selected rows
print(selected_rows)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?