## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
data = [4, 8, 15, 16, 23, 42]

series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
data1 = [1,2,3,4,5,6,7,8,9,10]

series1 = pd.Series(data1)

print(series1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:


Name      Age      Gender
Alice     25       Female
Bob       30       male
Claire    27       Female 

Then, print the DataFrame.

In [4]:
data = {
    
    "Name" : ["Alice", "Bob", "Claire"],
    "Age" : [25,30,27],
    "Gender" : ["Female" , "Male" , "Female"]

}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [9]:
"""
a DataFrame is a tabular data structure with rows and columns, while a Series is a one-dimensional array 
representing a single column of data within a DataFrame.
"""

# Creating a Pandas Series
series = pd.Series([4, 8, 15, 16, 23, 42], name='Numbers')
print(series)

print("-"*45)

# Creating a DataFrame
data = {
    'Numbers': [4, 8, 15, 16, 23, 42]
}

df = pd.DataFrame(data)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
Name: Numbers, dtype: int64
---------------------------------------------
   Numbers
0        4
1        8
2       15
3       16
4       23
5       42

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [ ]:
# Load the sales data into a DataFrame
sales_data = pd.read_csv('sales.csv')

# View the first few rows of the DataFrame
sales_data.head()

# View the last few rows of the DataFrame
sales_data.tail()

# Get a summary of the DataFrame
sales_data.info()

# Calculate descriptive statistics of numerical columns
sales_data.describe()

# Count the frequency of unique values in a column
sales_data['Product'].value_counts()

# Sort the DataFrame by the 'Date' column in ascending order
sales_data.sort_values('Date', ascending=True)

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [10]:
"""
In Pandas, a DataFrame is mutable, which means you can modify its content after creation. 
You can add, remove, or update rows and columns within a DataFrame. For example, you can 
change the values in a specific cell, add a new column, or delete a row. The mutability 
of DataFrames makes them suitable for data manipulation and analysis tasks.
"""

'\nIn Pandas, a DataFrame is mutable, which means you can modify its content after creation. \nYou can add, remove, or update rows and columns within a DataFrame. For example, you can \nchange the values in a specific cell, add a new column, or delete a row. The mutability \nof DataFrames makes them suitable for data manipulation and analysis tasks.\n'

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [11]:
# Creating Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Creating DataFrame using multiple Series
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female