Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [3]:
name_list = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_data = sorted(name_list, key=lambda x: x[1])

for item in sorted_data:
    print(item)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

sqr = list(map(lambda x : x**2 , l))

print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions

Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [27]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tuple_list = tuple(map(lambda x : str(x) , l1))

print(tuple_list)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [37]:
from functools import reduce

list1 = list(range(1,26))

Product = reduce(lambda x ,y : x*y , list1)

print("Product: ", Product)

Product:  15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [42]:
list2 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

Num_list = list(filter(lambda x : x % 2 == 0 and x % 3 == 0 , list2))

print("Filter List:" , Num_list)

Filter List: [6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.

['python', 'php', 'aba', 'radar', 'level']

In [63]:
list2 = ['python', 'php', 'aba', 'radar', 'level']

palindrome = list(filter(lambda x : x[0:] == x[::-1] , list2))

print("Palindromes are: " , palindrome)

Palindromes are:  ['php', 'aba', 'radar', 'level']

In [7]:
n = list(range(1,5))
print(n)

[1, 2, 3, 4]

In [8]:
x = 1134

y=x[::-1]
print(y)

TypeError: 'int' object is not subscriptable